{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2 id="logged_in_user">{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div id="emails-view">
    
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>

    <div id="email">
        <h3 id="subject"></h3>
        <div class="card h-100" style="width: 100%; height: 100%;">
            <p id="from" style="margin-left: 1%; margin-top: 1%;"></p>
            <div>
                <p id="to" style="float: left; margin-left: 1%;"></p>
                <p id="date" style="float: right; margin-right: 1%;"></p>
            </div>
            <div id="body" style="margin-left: 1%; margin-bottom: 1%;">

            </div>
        </div>
        <div>
            <button id="reply" class="btn btn-sm btn-outline-primary" style="margin-top: 1%; float: left;">Reply</button>
            <button id="archive" class="btn btn-sm btn-outline-primary" style="margin-top: 1%;float: left; margin-left: 1%;">Archive</button>
            <button id="unarchive" class="btn btn-sm btn-outline-danger" style="margin-top: 1%;float: left; margin-left: 1%;">Unarchive</button>
        </div>
        
        
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}